@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.bg-dividido {
    background: rgb(255,246,223);
    background: linear-gradient(90deg, rgba(255,246,223,1) 50%, rgba(242,160,6,1) 50%);
  }

main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.amareloClaro-bg {
    background-color: #FFF5DF;
}

.amarelo-bg {
    background-color: #F2A005;
}

.amareloClaro-text {
    color: #FFF5DF;
}

.amarelo-text {
    color: #F2A005;
}

.containerdivisao{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

/* ----------------------------------------- */

.containerLEsquerdo{
    width: 50%;
    font-size: 40px;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.containerOpcoesLE{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.opcoesLE{
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
    border-radius: 10px;
    height: 60px;
    margin-left: 20px;
}

.formConversaoLE{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
    font-size: 50px;
}

.inputLE{
    font-size: 50px;
    border: none;
    border-bottom: 2px solid #F2A005;
}

.botaoConverter{
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
}

/* ----------------------------------------- */

.containerLDireito{
    width: 50%;
    font-size: 40px;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.containerOpcoesLD{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.opcoesLD{
    font-size: 40px;
    border-radius: 10px;
    height: 60px;
    margin-left: 20px;
}

.formConversaoLD{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
    font-size: 50px;
}


.inputLD{
    font-size: 50px;
    border: none;
    border-bottom: 2px solid #FFF5DF;
}
